#aboutSection {
    backface-visibility: hidden;
}

#intro div {
    float: left;
}

.about-info {
    padding-left: 25px;
}

p {
    
}

h1 , h3 {
    text-align: center;
}

.individual-page {
    /*border: 0;*/
    background-color: white;
    height: 1000px;
}