#intro {
    margin-top: 100px;
}

#intro h2, h1 {
    text-align: center;
}

.project a img {
    width: 200px;
    height: 150px;
}

ul {
    list-style: none;
}

li {
    float: left;
    padding: 5px 10px 5px 10px;
    padding-right: 5px;
}

.project {
    margin: 25px;
}

#portfolio {
    float:left;
}

.thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    padding: 0;
    border: 0;
    margin-bottom: 0;
}

.wideThumbnail {
    
}

#toolsList {
    height: 35px;
    padding: 2px;
    margin: 0;
    background-color: white;
    margin-bottom: 0px;
}

.projectDescription {
    background-color: white;
    margin-left: 0px;
    margin-right: 0;
    text-align: left;
    padding: 2px;
    
}

.projectName {
    background-color: white;
    margin-left: 0px;
    margin-right: 0;
    text-align: left;
    padding: 0px;
    margin-bottom: 0;
    padding-left: 2px;
    font-size: 140%; 
}

body {
    background-color: #f6f6f6;
}

.navbar {
    background-color:white;
    box-shadow: 0 0 0 1px #888888;
    position: fixed;
    width: 100%;
    border-radius: 0;
    z-index: 1;
}

#projects {
    padding-top: 0;
}

#projectDiv {
    border: 0;
    padding: 0;
    box-shadow: 2px 2px 4px 4px #888888;
    color: black; /* makes the tools used colors change*/
    
}

#projectDiv:hover{
    box-shadow: 5px 5px 5px 5px #888888;
    color: grey;
    opacity: .5;    
}

.row {
    padding-top: 50px;
}

#footer {

}

footer {
    background-color: white;
    box-shadow: 0 -1px 0 0 #888888;
    padding: 0;
    
}

#aboutSection {
    margin-bottom: 1px;
    
}

#intro {
    margin-top: 0;
    padding: 100px 50px 250px 50px;
<<<<<<< HEAD
    /*box-shadow: 1px 0px 1px 0px #888888;*/
    border:solid lightgrey 1px;
=======
    box-shadow: 0px 0px 5px #888888;
>>>>>>> origin/master
}

.projectName, .projectDescription {
   padding-left: 15px;
}

@media only screen and (max-width: 1024px) {
    .wideThumbnail {
        display: none;
    }
}

@media only screen and (min-width: 1025px) {
    .squareThumbnail {
        display: none;
    }
}

.toolsUsed {
    width: 20px;
    height: 20px;
}

p , h1, h4, h6, li {
    /*font-family: 'Bree Serif', serif;*/
    font-family: 'Muli', sans-serif;
}

/*.page-scroll {
    padding: 0;
}*/

#navHomeLink {
    padding: 20px 0 15px 15px;
}

.navButton h6 {
    margin-bottom: 0;
}

footer div i {
    margin: 10px;
}

.filterIcon {
    font-size:36px;
    margin-top: 5px;
}

.filterWrapper {
    /*align-content: center;*/
    text-align: center;
    margin: 5px;
}

body {
    background: url("../img/intro-bg.jpg");
}

.indexFooter {
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.bg-blue {
    background-color: aqua;
    margin: 1px;
    border-bottom-color: greenyellow;
    border: 5px;
    /*
    height: 20%;
    */
}

.bg-red {
    background-color: red;
    border-bottom-color: greenyellow;
    border: 5px;
}

.pad-col {
    /*padding-left: 0px;
    padding-right: 0px;*/
}

.projectDescription , .projectName {
    padding-left: 10px;
}

.rm-style-row {
    padding: 0;
    margin: 0;
}



.exp-loc , .exp-date  {
    /*width: 30%;
    text-align: right;*/
}

.exp-name, .exp-title  {
    /*width: 70%;*/
}

.exp-info p {
    margin-bottom: 0;
}

.exp-info li {
    list-style: circle;
    padding-top: 1px;
    padding-bottom: 1px;
}

.exp-info {
    padding-left: 15px;
    padding-right: 15px;
}

.exp-img {
    height:200px;
    width:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.exp-first-row {
    /*padding-top:100px;
    height:200px;*/
    margin-bottom: 45px;
}

.exp-card {
    /*box-shadow: 2px 2px 1px 1px #888888;*/
    box-shadow: 0px 0px 5px #888888;
    margin-bottom: 20px;
    min-height: 248px;
}

.see-more {
    color: deepskyblue;
    text-align: center;
}

.see-more p {
    margin-bottom: 5px;
}

.see-more a:hover {
    text-decoration: none;
    color: darkblue;
}

.exp-name-row h6 {
    margin-bottom: 0px;
    margin-top: 5px;
}

.exp-heading {
/*color: #31b2d2;*/
    font-weight:bold;
    font-family: 'Bree Serif', serif;
    /*font-family: 'Muli', sans-serif;*/
    /*margin-top: 45px;*/
}


#overview-filter:hover  {
    background-color:lightgrey;
}

#dev-filter:hover, #pdf-filter:hover , #expand-filter:hover, #collapse-filter:hover {
    background-color:lightblue;
}

#mech-filter:hover {
    background-color:#D49E9E;
}

#research-filter:hover {
    background-color: lightgreen;
}

.exp-card:hover {
    box-shadow: 2px 2px 5px 5px lightgrey;
    opacity: .95;    
}

.exp-ico i{
    /*color: #31b2d2;*/
}

#resTarg:hover {
    text-decoration: none;
}

.filterWrapper h4 {
    font-weight:bold;
}

.exp-title h6 {
    margin-bottom: 0;
}

.hide {
    display: hide;
}

.proj-img {
    margin-top:5px;
}

.clamp-slider {
    color: black;
}

#volunteeringDiv div p {
    text-align: center;
    font-weight: bold;
}

#volunteeringDiv div:hover {
    opacity: .5;
}

.center-bold {
    text-align: center;
    font-weight: bold;
}

.project-heading {
    /*color: #31b2d2;*/
    font-family: 'Muli', sans-serif;
}

.exp-list li{
    list-style-type: none;
    list-style-position:inside;
        margin:0;
        padding:0;
}

.exp-section {
        color: #31b2d2;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    text-align: left;
}

.trailing25 {
    margin-bottom: 25px;
}

.course-name {
    border-radius: 5px;
    padding: 5px;
}

.me-course-name {
    background-color: #e28ead;

    /*color: white*/
}

.eecs-course-name {
    background-color: lightblue;
}

.sci-course-name {
    background-color: lightgreen;
}

.math-course-name {
    background-color: #c998ce;
}

.edu-info {
    padding-left: 15px;
    padding-right: 15px;
}

.edu-info p{
    margin-bottom: 0;
}
.me-class, .eecs-class, .sci-class, .math-class {
    margin-bottom: 7px;
}

#landing-name {
   color: black;
    font-size: 80px;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    font-family: 'Raleway', sans-serif;
    
}

.filterWrapper h4 {
    font-family: 'Bree Serif', serif;
    font-weight: 300;
}

.individual-page {
    border:solid lightgrey 2px;
}

.skill-ico {
    height: 30px;
    width: auto;
    padding-bottom: 5px;
    
}

.vid-block {
    /*margin: auto;*/
}

.scroll-thumb {
    height: 60px;
    width: 60px;
    opacity: .9;
}