#intro {
    background-color:#31b2d2;
    padding-top: 75px; 
    padding-bottom:0;
}

.exp-section {
    color:#31b2d2;
}

.white-text{
    color:white; 
    font-family: 'Muli', sans-serif;
}

.right-ico{
    color:white; 
    font-size:75px;
}

@media only screen and (max-width: 1024px) {
    .right-ico{
        font-size:75px;
        display: none;
    }
    .white-text{
        font-size:40px;
    }
    .ico-div{
        margin-right: 50px;
    }
}

p, h2, h4, h5{
    font-family: 'Roboto', sans-serif;
}