#intro {
    margin-top: 100px;
}

#intro h2, h1 {
    text-align: center;
}

.project a img {
    width: 200px;
    height: 150px;
}

ul {
    list-style: none;
}

li {
    float: left;
    padding: 5px 15px 5px 15px;
}

.project {
    margin: 25px;
}

#portfolio {
    float:left;
}

.thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    padding: 0;
    border: 0;
    margin-bottom: 0;
}

.wideThumbnail {
    
}

#toolsList {
    height: 35px;
    padding: 2px;
    margin: 0;
    background-color: white;
    margin-bottom: 0px;
}

.projectDescription {
    background-color: white;
    margin-left: 0px;
    margin-right: 0;
    text-align: left;
    padding: 2px;
    
}

.projectName {
    background-color: white;
    margin-left: 0px;
    margin-right: 0;
    text-align: left;
    padding: 0px;
    margin-bottom: 0;
    padding-left: 2px;
}

body {
    background-color: #f6f6f6;
}

.navbar {
    background-color:white;
    box-shadow: 0 0 0 1px #888888;
    position: fixed;
    width: 100%;
    border-radius: 0;
    z-index: 1;
}

#projects div {
    
}

#testDiv {
    border: 0;
    padding: 0;
    box-shadow: 1px 1px 1px 1px #888888;
    color: black; /* makes the tools used colors change*/
    
}

#testDiv:hover{
    box-shadow: 5px 5px 5px 5px #888888;
    color: grey;
    opacity: .5;
    
    
}
.row {
    padding-top: 50px;
}

#footer {

}

footer {
    background-color: white;
    box-shadow: 0 -1px 0 0 #888888;
    padding: 0;
    
}

#aboutSection {
    margin-bottom: 1px;
}

#intro {
    margin-top: 0;
    padding: 100px 50px 250px 50px;
    box-shadow: 1px 0px 1px 0px #888888;
}

.projectName, .projectDescription {
   padding-left: 15px;
}

@media only screen and (max-width: 1024px) {
    .wideThumbnail {
        display: none;
    }
}

@media only screen and (min-width: 1025px) {
    .squareThumbnail {
        display: none;
    }
}

.toolsUsed {
    width: 20px;
    height: 20px;
}

p , h1, h4, h6, li {
    /*font-family: 'Bree Serif', serif;*/
    font-family: 'Muli', sans-serif;
}

/*.page-scroll {
    padding: 0;
}*/

#navHomeLink {
    padding: 15px 20px 0 15px;
}